@charset "UTF-8";
/*全局*/
/*登录*/
.login-hd {
  border-bottom: 1px solid #f2f2f2;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.125);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.125); }

.login-hd-logo {
  margin: 0;
  height: 66px; }
  .login-hd-logo a {
    display: block;
    float: left;
    line-height: 66px;
    font-size: 0;
    margin-right: 50px; }
    .login-hd-logo a span {
      position: absolute;
      clip: rect(0, 0, 0, 0); }
    .login-hd-logo a img {
      width: 40px;
      vertical-align: middle; }
  .login-hd-logo span.txt {
    display: inline-block;
    line-height: 66px;
    font-size: 20px; }

.login-cnt p {
  margin-bottom: 0; }

.login-cnt-tip {
  color: #999;
  font-size: 14px;
  line-height: 40px;
  background: #FFF8F0; }
  .login-cnt-tip .iconfont {
    font-size: 20px;
    vertical-align: middle;
    color: #f05a00; }

.login-cnt-slide {
  height: 470px; }
  .login-cnt-slide .banner {
    position: relative;
    height: 100%; }
  .login-cnt-slide .banner-wrap {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    height: 100%; }
  .login-cnt-slide .banner-wrap .cont {
    height: 100%;
    overflow: hidden; }
  .login-cnt-slide .banner-wrap .cont li {
    width: 100%;
    height: 100%;
    float: left;
    -webkit-perspective: 1200px;
            perspective: 1200px; }
    .login-cnt-slide .banner-wrap .cont li a {
      display: inline-block;
      width: 100%;
      height: 100%;
      -webkit-perspective: 1200px;
              perspective: 1200px;
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
      cursor: default; }
    .login-cnt-slide .banner-wrap .cont li ._fade-img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      visibility: hidden;
      margin: auto 0; }
    .login-cnt-slide .banner-wrap .cont li.active ._fade-img {
      -webkit-transform: none;
              transform: none;
      opacity: 1;
      visibility: visible;
      -webkit-animation: slide-in 2s ease both;
              animation: slide-in 2s ease both; }
    .login-cnt-slide .banner-wrap .cont li.init ._fade-img {
      opacity: 1;
      visibility: visible; }
  .login-cnt-slide .banner-wrap .cnt li a img {
    width: 100%;
    height: 100%; }
  .login-cnt-slide .radius-list {
    position: absolute;
    left: 0;
    bottom: 5px;
    z-index: 1;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center; }
  .login-cnt-slide .radius-list span {
    display: inline-block;
    padding: 4px;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    /*&:before {
            content: "";
            display: inline-block;
            padding: 0;
            border: 11px dotted #999;
        }*/ }
  .login-cnt-slide .radius-list span.active {
    background: #fff;
    /*&:before {
            content: "";
            display: inline-block;
            padding: 0;
            border: 12px dotted #fff;
        }*/ }
  .login-cnt-slide .radius-list span + span {
    margin-left: 5px; }
  .login-cnt-slide .btn-list {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 1200px;
    margin: 0 auto; }
  .login-cnt-slide .banner-btn {
    position: absolute;
    z-index: 0;
    display: none;
    height: 60px;
    width: 60px;
    line-height: 60px;
    top: 50%;
    margin-top: -30px;
    border-radius: 30px;
    text-align: center;
    font-size: 0;
    background: #fff;
    background: rgba(0, 0, 0, 0.15);
    overflow: hidden;
    -webkit-transition: .4s;
    transition: .4s;
    /*&:before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 0;
            top: 0;
            display: inline-block;
            transition: .4s;
            opacity: .5;
            border: 60px dotted #fff;
        }*/ }
    .login-cnt-slide .banner-btn .iconfont {
      display: inline-block;
      color: #fff;
      font-size: 40px;
      line-height: 1;
      margin-top: 10px;
      opacity: .8;
      -webkit-transition: .4s;
      transition: .4s; }
  .login-cnt-slide .banner-btn-l {
    left: -100px; }
  .login-cnt-slide .banner-btn-l:hover {
    background: rgba(255, 255, 255, 0.6); }
    .login-cnt-slide .banner-btn-l:hover .iconfont {
      opacity: 1;
      color: #003399; }
  .login-cnt-slide .banner-btn-r {
    right: -100px; }
  .login-cnt-slide .banner-btn-r:hover {
    background: rgba(255, 255, 255, 0.6);
    color: #fff; }
    .login-cnt-slide .banner-btn-r:hover .iconfont {
      opacity: 1;
      color: #003399; }

@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(-500px) translateX(200px) scale(0);
            transform: translateZ(-500px) translateX(200px) scale(0); }
  100% {
    -webkit-transform: none;
            transform: none;
    visibility: visible; } }

@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(-500px) translateX(200px) scale(0);
            transform: translateZ(-500px) translateX(200px) scale(0); }
  100% {
    -webkit-transform: none;
            transform: none;
    visibility: visible; } }

.login-cnt-form {
  position: relative;
  z-index: 3;
  padding-top: 1px;
  background: #2d50d1; }
  .login-cnt-form .login-error {
    margin-bottom: 5px;
    color: #f05a00; }
  .login-cnt-form ._pwr {
    position: absolute;
    z-index: 999;
    right: 10px;
    top: 35px;
    width: 350px;
    min-height: 400px;
    padding-bottom: 40px;
    background: #fff;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.125);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.125); }
    .login-cnt-form ._pwr ._tip {
      font-size: 12px;
      text-align: center;
      line-height: 36px;
      color: #999;
      background: #FFF8F0; }
      .login-cnt-form ._pwr ._tip .iconfont {
        font-size: 20px;
        vertical-align: middle;
        color: #999; }
  .login-cnt-form ._item {
    padding: 0 30px; }
  .login-cnt-form ._item-tab-ttl {
    margin-bottom: 20px;
    text-align: center;
    font-size: 0; }
    .login-cnt-form ._item-tab-ttl li {
      display: inline-block;
      width: 49%;
      line-height: 55px;
      text-align: center;
      font-size: 16px;
      font-weight: bold; }
      .login-cnt-form ._item-tab-ttl li.active {
        color: #f05a00; }
      .login-cnt-form ._item-tab-ttl li:hover {
        cursor: pointer; }
  .login-cnt-form ._item-tab-cnt {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 1200px;
            perspective: 1200px; }
  .login-cnt-form ._item-tab-cnt-item {
    width: 100%; }
    .login-cnt-form ._item-tab-cnt-item .__item input {
      width: 100%;
      height: 40px;
      padding: 10px 15px;
      font-size: 14px;
      line-height: 20px;
      border: 1px solid #ddd;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
      .login-cnt-form ._item-tab-cnt-item .__item input:focus {
        border: 1px solid #2d80f6 !important; }
    .login-cnt-form ._item-tab-cnt-item .__item + .__item {
      margin-top: 20px; }
    .login-cnt-form ._item-tab-cnt-item .__item .__pwdlink {
      color: #777; }
      .login-cnt-form ._item-tab-cnt-item .__item .__pwdlink:hover {
        color: #003399; }
    .login-cnt-form ._item-tab-cnt-item .__item .__reg {
      color: #2d80f6; }
    .login-cnt-form ._item-tab-cnt-item .__item .__btn {
      line-height: 36px;
      display: block;
      text-align: center;
      background: #003399;
      color: #fff; }
    .login-cnt-form ._item-tab-cnt-item .__item.__yzm input {
      display: block;
      width: 100%; }
    .login-cnt-form ._item-tab-cnt-item .__item.__yzm .__yzm-btn {
      float: right;
      padding: 0 10px;
      min-width: 100px;
      line-height: 38px;
      text-align: center;
      border: 1px solid #ddd;
      border-left: none;
      color: #8c8c96;
      background: transparent;
      cursor: default; }
      .login-cnt-form ._item-tab-cnt-item .__item.__yzm .__yzm-btn.active2 {
        color: #2d80f6;
        cursor: pointer; }

.v-tab-cnt-item {
  display: none; }
  .v-tab-cnt-item.in {
    display: block;
    -webkit-animation: v-tab-in 1s ease both;
            animation: v-tab-in 1s ease both; }

@-webkit-keyframes v-tab-in {
  0% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    opacity: 0; }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    -webkit-box-shadow: none;
            box-shadow: none; } }

@keyframes v-tab-in {
  0% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    opacity: 0; }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    -webkit-box-shadow: none;
            box-shadow: none; } }

.login-ft {
  margin-top: 20px; }
  .login-ft .login-ft-nav {
    margin-bottom: 20px;
    font-size: 0;
    text-align: center; }
    .login-ft .login-ft-nav li {
      display: inline-block;
      font-size: 14px;
      vertical-align: middle; }
      .login-ft .login-ft-nav li + li {
        margin-left: 20px; }
        .login-ft .login-ft-nav li + li:before {
          content: "|";
          display: inline-block;
          margin-right: 20px;
          font-size: 0px;
          padding: 5px 0 3px;
          color: #999;
          border-left: 1px solid;
          vertical-align: middle; }
      .login-ft .login-ft-nav li a {
        display: inline-block;
        color: #666;
        vertical-align: middle; }
        .login-ft .login-ft-nav li a:hover {
          color: #003399; }
  .login-ft .py {
    text-align: center;
    color: #666;
    font-size: 14px;
    text-transform: lowercase; }

.el-message-box__message {
  color: #f05a00; }
